@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
	margin: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	color: white;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: black;
}

em {
	font-style: normal;
}

.mobileMenu {
	display: none;
}

.contact {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #F2BC41;
	color: black;
	width: 267px;
	height: 63px;
	border-radius: 16px 0px 16px 0px;
	text-decoration: none;
	margin: 44px 0px 44px 4px;
	font-size: 12.3pt
}

#head {
	height: 806px;
}

.bgImageBeansHead {
/*	position: absolute;
	top: 0px;
	left: 0;
	width: 100%;
	z-index: -1;
	background: url(../images/coffeBeansBackground.png);
	height: 900px;
	background-size: contain;*/
	

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -1;
}

.bgImageHand {
	position: absolute;
	top: 116px;
	right: 222px;
	width: 724px;
	z-index: -1;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 33px 188px 0px 3%;
}

.logo {
	width: 217px;
	height: 53px;
	margin-right: 58px;
}

nav {
	width: 1126px;
}

ul {
	display: flex;
	justify-content: space-between;
}

ul li {
	list-style: none;
}

ul li a {
	text-decoration: none;
	color: white;
	font-size: 12px;
	line-height: 19.5px;
}

.mobileNav {
	display: none;
}

.factory {
	display: flex;
	flex-direction: column;
	margin: 145px 0px 0px 3%;
	font-size: 36pt;
	line-height: 61px;
}

.factory .sub {
	font-size: 14pt;
	line-height: 70px;
}

#machine {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	height: 1310px;
	background: #6430CD url(../images/coffeBeansBackgroundBlock.png);
	background-size: contain;
	background-repeat: no-repeat;
	border-radius: 46px;
}

#machine .header {
	margin-left: 30px;
}

.header {
	/*margin-bottom: 44px;*/
	/*margin-left: 184px;*/
	align-self: flex-start;
	font-size: 36pt;
}

.cards {
	display: flex;
	margin-top: 44px;
}

.cardsField {
	display: grid;
	grid-template-columns: 49% 49%;
	grid-template-rows: 22% 22% 22% 22%;
	grid-gap: 20px;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 320px;
	height: 210px;
	border: 1px solid white;
	border-radius: 12px;
	padding: 26px;
	background: #6432CD;
}

.card p {
	font-size: 16pt;
}

.card img {
	width: 50px;
}

.coffemchn {
	width: 432px;
	margin-left: 43px;
}

#benefit {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	margin-top: 87px;
}

#benefit .header {
	margin-bottom: 62px;
	align-self: flex-start;
	margin-left: 22px;
}

#benefit .card {
	align-items: center;
	width: 364px;
	height: 386px;
	margin-right: 22px;
	text-align: center;
}

#benefit .card .sub {
	font-size: 10pt;
	line-height: 26px;
}

#benefit .card img {
	width: 128px;
}

#benefit .card p {
	font-size: 20pt;
	margin-bottom: 20px;
}

#strategy {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-top: 88px;
	margin-bottom: 136px;
}

.boxer {
	align-self: center;
	min-width: 1200px;
}

#strategy .header {
	margin-left: 30px;
}

.cardBig {
	flex-direction: row;
}

.cardBigF {
	width: 650px;
	height: 246px;
	border-radius: 44px;
	padding: 40px 116px 14px 72px;
}

.cardBigS {
	width: 578px;
	height: 246px;
	border-radius: 44px 1px 1px 44px;
	padding: 40px 40px 14px 72px;
	border-right: none;
}

.icon {
	align-self: flex-start;
	margin-right: 34px;
}

.text {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: left;
	justify-content: space-between;
	margin-bottom: 34px;
	margin-top: 8px;
}

.text h1 {
	align-self: flex-start;
	font-size: 21pt;
}

.text p {
	font-size: 10pt;
	line-height: 26px;
}

.bgImage {
	position: absolute;
	top: 2890px;
	right: 0;
	height: 920px;
	z-index: -1;
}

.bgImageBeans {
	position: absolute;
    top: 3970px;
    right: 8px;
    height: 460px;
    z-index: -1;
}

.bgImageBeansBottom {
	position: absolute;
	top: 5148px;
	width: 100%;
	z-index: -1;
}

.bgImageDecorations {
	position: absolute;
	top: 5988px;
	height: 684px;
	z-index: 0;
	right: 0px;
}

.bgImageCoffee {
	position: absolute;
	top: 7164px;
	height: 684px;
	z-index: -1;
	right: 0px;
}

.bgImageBeansForm {
	position: absolute;
	top: 7850px;
	width: 100%;
	z-index: -1;
}

.bgImagePacketOfCoffee {
	position: absolute;
	top: 8012px;
	height: 609px;
	z-index: 0;
	right: 0px;
}

#calculate {
	--value: 34;
	--min: 0;
	--max: 100;
}

input[type=range]#calculate {
  --range: calc(var(--max) - var(--min));
  --ratio: calc((var(--value) - var(--min)) / var(--range));
  --sx: calc(0.5 * 2em + var(--ratio) * (100% - 2em));
}

input[type="range"]#calculate::-moz-range-thumb
{
	width: 44px;
	height: 44px;
	background: url(../images/icons/slider.svg);
	background-size: contain;
	border: none;
}

input[type=range]#calculate::-moz-range-progress {
	background: white;
}

input[type="range"]#calculate::-webkit-slider-thumb
{
	-webkit-appearance: none;
	margin-top: calc(max((1em - 1px - 1px) * 0.5,0px) - 2em * 0.9);
	width: 44px;
	height: 44px;
	background: url(../images/icons/slider.svg);
	background-size: contain;
	border: none;
}

input[type=range]#calculate::-webkit-slider-runnable-track {
  height: 5px;
}

.calc {
	display: flex;
	flex-direction: row;
	align-self: center;
	width: 1136px;
	height: 576px;
	padding: 52px;
	margin-top: 82px;
	border-radius: 42px;
	background: orange;
}

.calc > img {
	width: 90px;
	align-self: flex-start;
}

.calc input {
	height: 5px;
	background: #F2BC42;
	-webkit-appearance: none;
	border-radius: 15px;
}

.calcBody {
	display: flex;
	flex-direction: column;
	min-width: 940px;
}

.calcBody > p {
	margin-top: 16px;
	margin-left: 20px;
}

.calcBody > a {
	margin: 0;
	margin-top: 24px;
	margin-right: 88px;
}

.calcHeader {
	display: flex;
	padding-left: 18px;
	justify-content: space-between;
	margin-bottom: 58px;
}

.calcHeader h1 {
	font-size: 36pt;
}

.profit {
	font-size: 35pt;
	line-height: 50px;
	margin-right: 15px;
	margin-top: 4px;
}

.profit p {
	font-size: 11pt;
	margin-bottom: 32px;
	line-height: 25px;
}

.investment {
	font-size: 26pt;
}

.inputBody {
	display: flex;
	flex-direction: column;
	padding: 0px 14px 0px 12px;
}

.sliderStart {
	width: 12px;
	position: relative;
	top: 8px;
	left: -4px;
}

.sliderEnd {
	width: 12px;
	position: relative;
	top: -9px;
	right: -884px;
}

.calculate {
	display: flex;
	justify-content: space-between;
	margin-bottom: 16px;
	font-size: 16pt;
	padding: 0px 2px 0px 8px;
}

#garanty {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 136px;
}

#garanty .header {
	margin-left: 22px;
}

.cardsParent {
	width: 1200px;
}

.garantiesCards {
	display: grid;
	grid-template-columns: 22% 22% 22% 22%;
	grid-template-rows: 50% 50%;
	grid-gap: 38px;
	margin-top: 60px;
	padding-left: 26px;
}

.garantyCard {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
	height: 250px;
	background: transparent;
	border: 1px solid white;
	border-radius: 16px;
}

.garantyCard img {
	width: 100px;
}

#tariffs {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 78px;
}

#tariffs .header {
	margin-left: 22px;
}

.machines {
	display: grid;
	grid-template-columns: 31% 31% 31%;
	grid-template-rows: 50% 50%;
	grid-gap: 26px;
	margin-top: 60px;
	padding-left: 26px;
}

.machineCard {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	border-radius: 12px;
	background: orange;
	height: 734px;
	padding: 16px;
}

.machineCard img {
	width: 174px;
}

.cardContent {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	background-color: white;
	margin: -16px;
	height: 368px;
	border-radius: 0px 0px 14px 14px;
}

.cardContent > * {
	color: black;
}

.cardContent h1 {
	margin-top: 32px;
	font-size: 20pt;
}

.cardContent p {
	margin: -14px 52px 0px 42px;
	font-size: 11pt;
}

.cardContent em {
	color: black;
	font-size: 23pt;
}

.cardContent a {
	margin: 0px 0px 20px 0px;
	scale: 0.7;
	width: 246px;
}

#faq {
	display: flex;
	flex-direction: column;
	height: 1060px;
	background: #6432CD;
	border-radius: 38px;
	padding-top: 102px;
	margin-bottom: 150px;
}

#faq .header {
	margin-bottom: 50px;
	margin-left: 28px;
}

.questions {
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
}

.questions > div {
	width: 1150px;
	height: 710px;
	position: relative;
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.wrapper > div {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.wrapper > div > div {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}

.wrapper > div > p {
	margin-top: 22px;
}

#about {
	margin-bottom: 272px;
}

#about .header {
	margin-left: 192px;
	margin-bottom: 36px;
}

.aboutContainer {
	display: flex;
	flex-direction: column;
	width: 600px;
	margin: 0px 0px 0px 192px;
	font-size: 14pt;
	line-height: 30px;
	text-align: justify;
}

.subInfo {
	margin-top: 40px;
	text-align: justify;
}

.multLogos {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 68px;
}

#ready {
	display: flex;
	justify-content: center;
}

#ready .header {
	margin-left: 30px;
}

#ready .header > div {
	display: flex;
	align-items: flex-end;
	margin-bottom: 14px;
}

#ready .header > p {
	font-size: 14pt;
	line-height: 26px;
}

#ready .header div > img {
	width: 50px;
}

#ready h1 {
	font-size: 37pt;
}

#ready input[type="text"] {
	height: 66px;
	width: 366px;
	margin-bottom: 10px;
	border-radius: 18px;
	border: none;
	color: rgba(0, 0, 0, 0.6);
	outline: 0;
	padding: 25px;
}

form {
	display: flex;
	flex-direction: column;
	margin: 34px 0px 128px 28px;
}

form input[type=submit] {
	margin: 0;
	width: 366px;
}

.cleanButton {
	border: none;
}

.qst1, 
.qst2, 
.qst3, 
.qst4, 
.qst5, 
.qst6, 
.qst7 {
	width: 40px;
	height: 40px;
	cursor: pointer;
	border-radius: 20px;
	background: white;
	padding: 8px;
}

.qstBlock1 > div img, 
.qstBlock2 > div img, 
.qstBlock3 > div img, 
.qstBlock4 > div img, 
.qstBlock5 > div img, 
.qstBlock6 > div img, 
.qstBlock7 > div img {
	transition: 0.5s;
}

.hidden {
	transition: 1s;
	max-height: 40px;
	overflow: hidden;
}

.show {
	max-height: 120px;
}

.show img {
	transform: rotateZ(45deg);
	background: #F2BC41;
}

@media screen and (max-width: 1199px) {
	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
/*		padding: 33px 188px 0px 30px;*/
		padding-right: 30px;
		min-width: 370px;
	}

	header nav {
		display: none;
	}

	.header {
		font-size: 24pt;
	}

	.logo {
		width: 120px;
		height: auto;
		margin-left: 5%;
	}

	.mobileMenu {
		display: flex;
		flex-direction: column;
		padding: 35px 25px 175px 25px;
		background: #6430CD;
		position: fixed;
		top: 0;
		right: -100%;
		width: 100%;
		height: 100%;
		transition: 1s;
	}

	.mobileMenu > div {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.mobileMenu .logo {
		width: 120px;
		height: auto;
		margin-left: 5%;
	}

	.mobList {
		flex-direction: column;
		font-size: 30px;
		align-items: center;
		justify-content: space-between;
		height: 100%;
		margin-top: 30px;
	}

	.mobList > a {
		text-decoration: none;
	}

	.showMenuMobile {
		right: 0;
	}

	.mobileNav {
		display: initial;
	}

	#head {
		height: 1100px;
	}

	.factory {
		display: flex;
		flex-direction: column;
		margin: 70px 0px 0px 30px;
		font-size: 24pt;
		line-height: 54px;
	}

	.factory .sub {
		font-size: 13pt;
		line-height: 30px;
		margin-top: 14px;
		padding-right: 70px;
	}

	.bgImageHand {
		position: absolute;
		top: 604px;
		left: -200px;
		width: 536px;
		z-index: -1;
	}

	#machine {
	    display: flex;
	    justify-content: center;
	    flex-direction: column;
	    align-items: center;
	    height: 2790px;
	    background: #6430CD url(../images/coffeBeansBackgroundBlock.png);
	    background-size: contain;
	    background-repeat: no-repeat;
	    border-radius: 8px;
	    padding-top: 60px;
	}

	.boxer {
		align-self: center;
		min-width: 0px;
		padding: 10px;
	}

	.cards {
		display: flex;
		margin-top: 44px;
		flex-direction: column;
		align-items: center;
		width: 0px;
	}

	.cardsField {
		display: flex;
		flex-direction: column;
		flex-flow: wrap;
		grid-gap: 14px;
	}

	.coffemchn {
    	max-width: 300px;
    	margin-right: 70px;
    	margin-top: 70px;
	}

	#benefit > .boxer {
		padding-right: 146px;
	}

	#benefit > .cards {
		grid-gap: 26px;
		flex-direction: column-reverse;
	}

	#benefit .card {
		width: 330px;
		height: 380px;
		margin-right: 0px;
	}

	#benefit .contact {
		margin-top: 0;
	}

	#strategy .cards {
		width: auto;
		grid-gap: 30px;
	}

	#strategy .header {
		margin-left: 0px;
	}

	.arrow {
		display: none;
	}

	.cardBig {
		flex-direction: column;
	}

	.cardBigF {
		width: 336px;
		height: 450px;
		padding: 22px;
		border-radius: 44px 1px 1px 44px;
	}

	.cardBigS {
		width: 336px;
		height: 450px;
		padding: 22px;
		border-radius: 44px 1px 1px 44px;
	}

	.text p {
		font-size: 12pt;
		line-height: 35px;
	}

	.text h1 {
		margin-top: 20px;
	}

	.text {
		flex: auto;
	}

	.calc {
		flex-direction: column;
		width: 100%;
		padding: 0;
		padding-top: 52px;
		border-radius: 10px;
		height: 850px;
	}

	.calcBody {
		min-width: auto;
	}

	.calcHeader {
		flex-direction: column;
		grid-gap: 48px;
	}

	.calcHeader h1 {
		font-size: 28pt;
		line-height: 58px;
	}

	.profit {
		font-size: 28pt;
	}

	.forHide {
		display: none;
	}

	#invest {
		display: none;
	}

	.investment {
		display: none;
	}

	.sliderEnd {
		left: 98%;
	}

	.calcBody > a {
		margin-right: 0px;
	}

	.cardsParent {
		width: auto;
	}

	.garantiesCards {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-left: 0px;
	}

	.garantyCard {
		height: 317px;
		width: 345px;
	}

	.garantyCard img {
		width: 128px;
	}

	.garantyCard p {
		font-size: 18pt;
	}

	#tariffs .cardsParent {
		max-width: 400px;
	}

	#tariffs .header {
		display: flex;
		flex-direction: column;
		text-align: left;
		margin-left: 0px;
	}

	#tariffs .machines {
		display: flex;
		flex-direction: column;
		padding-left: 0px;
	}

	#tariffs .machineCard {
		height: 770px;
	}

	#faq {
		height: 1100px;
	}

	#faq .header {
		margin-left: 0px;
	}

/*	FAQ height settings START  */

	.qstBlock1, 
	.qstBlock2, 
	.qstBlock3, 
	.qstBlock5, 
	.qstBlock6, 
	.qstBlock7 {
	min-height: 75px;
	}

	.qstBlock4  {
		min-height: 89px;
	} 

/*	FAQ height settings END  */

	.wrapper > div > div {
		align-items: center;
		padding: 10px;
	}

	.wrapper > div > p {
		margin-top: 0px;
		padding: 10px;
		line-height: 24px;
	}

	.wrapper h1 {
		font-size: 16pt;
	}

	.show {
		min-height: 50%;
	}

	.bgImageDecorations {
		display: none;
	}

	.bgImageBeansForm {
		display: none;
	}

	.bgImageBeans {
	    position: absolute;
	    top: 7500px;
	    left: -330px;
	    height: 460px;
	    z-index: -1;
	}

	#about {
		display: flex;
		flex-direction: column;
		margin-bottom: 100px;
		align-items: center;
	}

	#about .header {
		margin-left: 0px;
	}

	.aboutContainer {
		width: auto;
		text-align: left;
		margin: 0;
	}

	.subInfo {
		text-align: left;
	}

	.multLogos {
		grid-gap: 20px;
	}

	.multLogos > img {
		width: 90px;
	}

	#ready {
		flex-direction: column;
		align-items: center;
	}

	#ready .header {
		margin-bottom: 30px;
		margin-left: 0px;
	}

	#ready h1 {
		font-size: 22pt;
	}

	#ready p {
		font-size: 15pt;
		line-height: 24px;
	}

	#ready .header div > img {
		width: 35px;
	}

	form {
		margin: 0px;
	}

	#ready input[type="text"] {
		width: auto;
	}

	#ready input[type="submit"] {
		width: auto;
	}

	.bgImagePacketOfCoffee {
		position: inherit;
		margin-top: 30px;
		height: 300px;
		width: 375px;
	}

	.bgImageCoffee {
		position: initial;
		width: 375px;
		height: auto;
		border-radius: 16px;
		margin-bottom: 34px;
	}

	#about > div {
		padding: 10px;
	}
}

.margin-28 {
	margin-top: 28px
}

.margin-64 {
	margin-top: 64px;
}

.margin-4 {
	margin-top: 4px;
}

.flex-center {
	align-self: center;
}

.arrow {
	padding: 24px;
}

.short {
	margin-top: 6px;
}

.subtext {
	color: #F2BC41;
}

.blackText {
	color: black;
}

.whiteText {
	color: white;
}

.orange {
	background: #F19035;
}

.purple {
	background: #6432CD;
}

.green {
	background: #439553;
}

.black {
	background: #000000;
}

.white {
	background: #FFFFFF;
}

.transparent {
	background: rgba(0,0,0,0);
}