@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
	margin: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	color: white;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: black;
}

em {
	font-style: normal;
}

.contact {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #F2BC41;
	color: black;
	width: 267px;
	height: 63px;
	border-radius: 16px 0px 16px 0px;
	text-decoration: none;
	margin: 44px 0px 44px 4px;
	font-size: 12.3pt
}

#head {
	height: 838px;
	background: url(../images/coffeBeansBackground.png);
	background-size: contain;
	background-repeat: no-repeat;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 33px 188px 0px 187px;
}

.logo {
	width: 217px;
	height: 53px;
	margin-right: 58px;
}

nav {
	width: 1126px;
}

nav ul {
	display: flex;
	justify-content: space-between;
}

nav ul li {
	list-style: none;
}

nav a {
	text-decoration: none;
	color: white;
	font-size: 12px;
	line-height: 19.5px;
}

.factory {
	display: flex;
	flex-direction: column;
	margin: 145px 0px 0px 186px;
	font-size: 36pt;
	line-height: 61px;
}

.factory .sub {
	font-size: 14pt;
	line-height: 70px;
}

#machine {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	height: 1310px;
	background: #6430CD url(../images/coffeBeansBackgroundBlock.png);
	background-size: contain;
	background-repeat: no-repeat;
	border-radius: 46px;
}

.header {
	/*margin-bottom: 44px;*/
	margin-left: 184px;
	align-self: flex-start;
	font-size: 36pt;
}

.cards {
	display: flex;
	margin-top: 44px;
}

.cardsField {
	display: grid;
	grid-template-columns: 49% 49%;
	grid-template-rows: 22% 22% 22% 22%;
	grid-gap: 20px;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 320px;
	height: 210px;
	border: 1px solid white;
	border-radius: 12px;
	padding: 26px;
	background: #6432CD;
}

.card p {
	font-size: 16pt;
}

.card img {
	width: 50px;
}

.coffemchn {
	width: 432px;
	margin-left: 43px;
}

#benefit {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	margin-top: 87px;
}

#benefit .header {
	margin-bottom: 62px;
	align-self: flex-start;
	margin-left: 190px;
}

#benefit .card {
	align-items: center;
	width: 364px;
	height: 386px;
	margin-right: 22px;
	text-align: center;
}

#benefit .card .sub {
	font-size: 10pt;
	line-height: 26px;
}

#benefit .card img {
	width: 128px;
}

#benefit .card p {
	font-size: 20pt;
	margin-bottom: 20px;
}

#strategy {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-top: 88px;
}

.cardBig {
	flex-direction: row;
}

.cardBigF {
	width: 650px;
	height: 246px;
	border-radius: 44px;
	padding: 40px 116px 14px 72px;
}

.cardBigS {
	width: 578px;
	height: 246px;
	border-radius: 44px 1px 1px 44px;
	padding: 40px 40px 14px 72px;
	border-right: none;
}

.icon {
	align-self: flex-start;
	margin-right: 34px;
}

.text {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: left;
	justify-content: space-between;
	margin-bottom: 34px;
	margin-top: 8px;
}

.text h1 {
	align-self: flex-start;
	font-size: 21pt;
}

.text p {
	font-size: 10pt;
	line-height: 26px;
}

.bgImage {
	position: absolute;
	top: 2890px;
	right: 0;
	height: 920px;
	z-index: -1;
}

.margin-28 {
	margin-top: 28px
}

.margin-64 {
	margin-top: 64px;
}

.arrow {
	padding: 24px;
}

.short {
	margin-top: 6px;
}

.subtext {
	color: #F2BC41;
}

.blackText {
	color: black;
}

.orange {
	background: #F19035;
}

.green {
	background: #439553;
}

.black {
	background: #000000;
}

.white {
	background: #FFFFFF;
}

.transparent {
	background: rgba(0,0,0,0);
}